
/* ################### TYPEFACES ########################### */

@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* ################### GENERAL ########################### */

.navbar-nav span.caption-text {
    font-size: 1.5em;
}

html {
    --pst-font-family-heading: "Space Mono";
    --pst-font-family-base: 'Ubuntu', var(--pst-font-family-base-system);
    --pst-sidebar-font-size: 1rem;
    --pst-font-size-h1: 1.8rem;
    --pst-font-size-h2: 1.5rem;
    --pst-font-size-h3: 1.3rem;
    --pst-font-size-h4: 1.2em;
    --pst-font-size-h5: 1.1rem;
    --pst-font-size-h6: 1rem;
}

a {
    font-weight: bold;
    font-family: "Space Mono";
}

.ablog__collection .ablog-post ul.ablog-archive {
    font-size: 1em !important;
}


/* ################### LIGHT THEME ########################### */
/* anything related to the light theme */

html[data-theme="light"] {
    /* whatever you want to change */
    --pst-color-muted: #35236c;
    --pst-color-link: #2373ad;
    background: white;
}


/* ################### DARK THEME ########################### */
/* anything related to the dark theme */

html[data-theme="dark"] {
    /* whatever you want to change */
    --pst-color-muted: #13cd3c;
    --pst-color-link: #d3c458;
    --pst-color-text-base: #e1e1e1;
    background: black;
}


/* ################### WIDGETS ########################### */

/* ################### CALENDAR ########################### */

/*google calendar reponsiveness*/

@media screen and (max-width: 600px) {
    .responsiveCal {
        position: relative;
        padding-bottom: 130%;
        height: 0;
        overflow: hidden;
    }
    .responsiveCal iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 700px) and ( max-width: 900px) {
    iFrame {
        width: 90vw;
    }
}

/* ################### DISCORD ########################### */

.discord-widget {
    display: inline-table;
    float: right;
}
